@charset "UTF-8";

html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */

article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}

body {
  line-height: 1;
}

ol,
ul {
  list-style: none;
}

blockquote,
q {
  quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

*,
*:before,
*:after {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

body,
html {
  height: 100%;
}

body {
  font-family: "Montserrat", sans-serif;
  font-size: 16px;
  color: #8c8c8c;
  background: #fff;
  -webkit-font-smoothing: antialiased;
}

.container {
  max-width: 100%;
  width: 1200px;
  margin: 0 auto;
  padding: 0 10px;
}

.wrapper_external {
  min-height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.main {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 auto;
          flex: 1 1 auto;
}

.hidden {
  display: none;
}

/*Button*/

.btn {
  font-family: "Raleway", sans-serif;
  font-size: 14px;
  font-weight: 800;
  background-color: #998675;
  color: #fff;
  border: 0;
  border-bottom: 2px solid #736357;
  border-radius: 3px;
  cursor: pointer;
  text-transform: uppercase;
  text-align: center;
  -webkit-transition: all 0.2s linear;
  -o-transition: all 0.2s linear;
  transition: all 0.2s linear;
}

.btn:hover {
  background-color: #afa297;
}

/*Text elements*/

.title {
  font-family: "Raleway", sans-serif;
  font-size: 30px;
  font-weight: 600;
  color: #555555;
}

text {
  font-family: "Montserrat", sans-serif;
  font-size: 16px;
  line-height: 1.75;
}

/*Header*/

.no-webp .header{
  background: url(../../image/waxom/header/intro_bg.jpg) center no-repeat; }

.header {
  background-size: cover;
  min-height: 1024px;
  height: 100vh;
  margin-bottom: 80px;
}

.header_inner {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding-top: 40px;
}

/*Nav*/

.nav_link {
  font-weight: 300;
  color: #fff;
  text-decoration: none;
  margin-right: 30px;
  -webkit-transition: color 0.1s linear;
  -o-transition: color 0.1s linear;
  transition: color 0.1s linear;
}

.nav_link:last-child {
  margin-right: 0;
}

.nav_link:hover {
  color: #c7b299;
}

.hicon {
  fill: #fff;
  height: 25px;
  width: 25px;
  margin-left: 30px;
  -webkit-transition: fill 0.1s linear;
  -o-transition: fill 0.1s linear;
  transition: fill 0.1s linear;
}

.hicon:hover {
  fill: #c7b299;
}

/* Menu */

.overlay {
  height: 100%;
  width: 0;
  position: fixed;
  z-index: 10000;
  left: 0;
  top: 0;
  background-color: black;
  background-color: rgba(0, 0, 0, 0.9);
  overflow-x: hidden;
  -webkit-transition: 0.5s;
  -o-transition: 0.5s;
  transition: 0.5s;
}

.overlay-content {
  position: relative;
  top: 25%;
  width: 100%;
  text-align: center;
  margin-top: 30px;
}

.overlay a {
  padding: 8px;
  text-decoration: none;
  font-size: 36px;
  color: #818181;
  display: block;
  -webkit-transition: 0.3s;
  -o-transition: 0.3s;
  transition: 0.3s;
}

.overlay a:hover,
.overlay a:focus,
.overlay .closebtn:hover {
  color: #f1f1f1;
}

.overlay .closebtn {
  background-color: transparent;
  outline: none;
  border: none;
  cursor: pointer;
  position: absolute;
  top: 20px;
  right: 45px;
  font-size: 60px;
  color: #818181;
  -webkit-transition: 0.3s;
  -o-transition: 0.3s;
  transition: 0.3s;
}

.openMenu {
  display: none;
  padding: 10px 15px;
  margin-left: 20px;
  -webkit-transition: 0.2s;
  -o-transition: 0.2s;
  transition: 0.2s;
}

.overlay-content a .hicon {
  margin-left: 0;
  margin-right: 0;
  fill: #818181;
  -webkit-transition: 0.3s;
  -o-transition: 0.3s;
  transition: 0.3s;
}

.overlay-content a:hover .hicon {
  fill: #f1f1f1;
}

/*Intro*/

.intro {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding-top: 280px;
}

.intro_inner {
  width: 100%;
  max-width: 610px;
  margin: 0 auto;
  text-align: center;
}

.intro_subtitle {
  font-family: "Raleway", sans-serif;
  font-size: 36px;
  font-weight: 500;
  color: #fff;
  margin-bottom: 20px;
}

.intro_title {
  font-family: "Raleway", sans-serif;
  font-size: 52px;
  font-weight: 800;
  color: #fff;
  margin-bottom: 30px;
}

.intro-text {
  color: #fff;
  line-height: 1.5;
  margin-bottom: 50px;
}

.btn--intro {
  padding: 10px 40px;
}

/*Services*/

.services {
  margin-bottom: 80px;
}

.services_elements {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.services_item {
  width: 25%;
  text-align: center;
  -webkit-transition: all 0.1s linear;
  -o-transition: all 0.1s linear;
  transition: all 0.1s linear;
}

.services_item:hover {
  color: #c7b299;
  cursor: default;
}

.services_icon {
  fill: #555555;
  width: 50px;
  height: 50px;
  -webkit-transition: fill 0.1s linear;
  -o-transition: fill 0.1s linear;
  transition: fill 0.1s linear;
}

.services_item:hover .services_icon {
  fill: #c7b299;
}

.services_title {
  font-family: "Raleway", sans-serif;
  font-size: 22px;
  font-weight: 600;
  margin: 25px 0;
}

.services_text {
  font-size: 14px;
  line-height: 1.7;
}

.services_item:hover .services_text {
  color: #555555;
}

.services_empty {
  width: 70px;
  margin: 30px auto;
  border-bottom: 3px solid #f1eee9;
  -webkit-transition: border-color 0.1s linear;
  -o-transition: border-color 0.1s linear;
  transition: border-color 0.1s linear;
}

.services_item:hover .services_empty {
  border-color: #c7b299;
}

/*Presentation*/

.presentation_text_elements {
  text-align: center;
}

.presentation_title {
  margin-bottom: 30px;
}

.presentation_text {
  padding: 0 100px;
  line-height: 1.75;
}

.presentation_photo {
  margin-top: 140px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
  position: relative;
  z-index: 1;
}

.presentation_img--down {
  width: 50%;
}

.presentation_img--center {
  width: 60%;
  height: auto;
  position: absolute;
  z-index: 2;
  left: 50%;
  -webkit-transform: translate3d(-50%, 0%, 0);
          transform: translate3d(-50%, 0%, 0);
}

/*Purchase*/

.purchase {
  background: -webkit-gradient(linear, left top, right top, color-stop(35%, #221c1a), color-stop(91%, #4d3327));
  background: -o-linear-gradient(left, #221c1a 35%, #4d3327 91%);
  background: linear-gradient(90deg, #221c1a 35%, #4d3327 91%);
  margin-bottom: 80px;
}

.purchase_inner {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 50px 0;
}

.purchase_title {
  color: #fff;
  font-family: "Raleway", sans-serif;
  font-weight: 400;
  font-size: 28px;
  margin-bottom: 15px;
}

.purchase_title span {
  color: #92816f;
}

.purchase_text {
  color: #615855;
  font-size: 18px;
}

.btn--purchase {
  padding: 15px 30px;
}

/*Works*/

.works {
  margin-bottom: 80px;
}

.works-text_elements {
  text-align: center;
}

.works-title {
  margin-bottom: 30px;
}

.works-text {
  padding: 0 100px;
  margin-bottom: 40px;
  line-height: 1.75;
}

.works-tabs {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.works-tab {
  text-align: center;
  margin: 0 10px 40px 10px;
  padding: 10px 15px;
  border: 1px solid #ebebeb;
  border-radius: 3px;
  cursor: pointer;
  min-width: 70px;
  font-size: 14px;
  color: #8c8c8c;
  text-decoration: none;
  -webkit-transition: all 0.1s linear;
  -o-transition: all 0.1s linear;
  transition: all 0.1s linear;
}

.works-tab:hover {
  background-color: #998675;
  color: #fff;
}

.works-tab._active-tab {
  background-color: #998675;
  color: #fff;
}

.works-empty {
  font-size: 40px;
  text-align: center;
  margin-bottom: 30px;
}

.works-items {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.works-item {
  width: 33.33333%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin: 0px -5px;
  margin-bottom: 30px;
  padding: 0px 5px;
  position: relative;
  z-index: 1;
}

.works-item:nth-child(3n) {
  padding-right: 0;
}

.works-item:hover .works-content {
  opacity: 1;
}

.works-item:hover .works-itemtext {
  background-color: #362f2d;
}

.works-item:hover .works-itemtext .works-name {
  color: #fff;
}

.works-item:hover .works-itemtext .works-description {
  color: #c7b299;
}

.works-photo {
  position: relative;
  z-index: 1;
  width: 370px;
  height: 237px;
  font-size: 0;
}

.works-content {
  opacity: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  text-align: center;
  overflow: hidden;
  width: 370px;
  height: 237px;
  background-color: rgba(87, 87, 87, 0.7);
  position: absolute;
  top: 0;
  left: 0;
  z-index: 2;
  -webkit-transition: opacity 0.2s linear;
  -o-transition: opacity 0.2s linear;
  transition: opacity 0.2s linear;
}

.works-icon {
  width: 25px;
  height: 25px;
  fill: #fff;
  -webkit-transition: fill 0.1s linear;
  -o-transition: fill 0.1s linear;
  transition: fill 0.1s linear;
  margin: 104.75px 10px;
}

.works-icon:hover {
  fill: #c7b299;
}

.works-itemtext {
  background-color: #fbfaf8;
  padding-left: 30px;
  width: 370px;
  overflow: hidden;
  -webkit-transition: background-color 0.2s linear;
  -o-transition: background-color 0.2s linear;
  transition: background-color 0.2s linear;
}

.works-name {
  font-family: "Raleway", sans-serif;
  font-weight: 500;
  font-size: 20px;
  color: #654f49;
  padding-top: 30px;
  margin-bottom: 15px;
  -webkit-transition: color 0.2s linear;
  -o-transition: color 0.2s linear;
  transition: color 0.2s linear;
}

.works-description {
  font-size: 14px;
  padding-bottom: 30px;
  -webkit-transition: color 0.2s linear;
  -o-transition: color 0.2s linear;
  transition: color 0.2s linear;
}

.works-btn--center {
  text-align: center;
}

.works-btn {
  width: 180px;
  padding: 10px 0;
}

/* Video */

.video {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 100vh;
  margin-bottom: 80px;
}

.video-media {
  position: absolute;
  z-index: 1;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  overflow: hidden;
  background: #ccc no-repeat center center;
  background-size: cover;
}

.video-media::before {
  position: absolute;
  z-index: 2;
  left: 0;
  top: 0;
  height: 100%;
  width: 100%;
  content: " ";
  background-color: rgba(0, 0, 0, 0.5);
}

.video-file {
  position: absolute;
  top: 50%;
  left: 50%;
  min-width: 100%;
  min-height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  -webkit-transform: translate(-50%, -50%);
      -ms-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
}

.video-content {
  z-index: 10;
  color: #fff;
  text-align: center;
  padding: 10px;
}

.video-title {
  color: #fff;
  margin-bottom: 30px;
}

.video-text {
  line-height: 1.75;
  padding: 0 100px;
}

/* Mobile */

.mobile-inner {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.mobile-photo {
  width: 40%;
  font-size: 0;
}

.mobile-content {
  width: 60%;
}

.mobile-title {
  margin-bottom: 30px;
}

.mobile-text {
  margin-bottom: 30px;
  line-height: 1.75;
}

.mobile-list {
  margin-left: 50px;
}

.mobile-list_item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-bottom: 5px;
}

.mobile-arrow {
  padding-right: 30px;
}

/* Achievements */

.achievements {
  background: -webkit-gradient(linear, left top, right top, color-stop(35%, #221c1a), color-stop(91%, #4d3327));
  background: -o-linear-gradient(left, #221c1a 35%, #4d3327 91%);
  background: linear-gradient(90deg, #221c1a 35%, #4d3327 91%);
  margin-bottom: 80px;
}

.achievements-inner {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.achievements-item {
  width: 20%;
  margin: 65px 0;
}

.achievements-icon {
  text-align: center;
  margin-bottom: 20px;
}

.achievements-amount {
  font-size: 48px;
  font-weight: 200;
  color: #fff;
  text-align: center;
  margin-bottom: 10px;
}

.achievements-name {
  font-size: 14px;
  color: #a89580;
  text-align: center;
  margin-bottom: 20px;
}

.achievements-border {
  width: 30px;
  border-bottom: 2px solid #fff;
  margin: 0 auto;
}

/* Posts */

.posts {
  margin-bottom: 80px;
}

.posts-text_elements {
  text-align: center;
}

.posts-title {
  margin-bottom: 30px;
}

.posts-text {
  padding: 0 100px;
  margin-bottom: 40px;
  line-height: 1.75;
}

.posts_swiper {
  overflow: hidden;
}

.posts_slider-item {
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 300px;
}

.posts_slider-item:hover .posts-description {
  background-color: #362f2d;
}

.posts_slider-item:hover .posts-posttitle {
  color: #a48d72;
}

.posts_slider-item:hover .posts-posttext {
  color: #fff;
}

.posts_slider-item:hover .posts-image::before {
  opacity: 1;
}

.posts-image {
  position: relative;
  z-index: 1;
  font-size: 0;
  overflow: hidden;
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

.posts-image img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

.posts-image::before {
  position: absolute;
  z-index: 2;
  content: "";
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  background-color: rgba(87, 87, 87, 0.3);
  opacity: 0;
  overflow: hidden;
  -webkit-transition: opacity 0.1s linear;
  -o-transition: opacity 0.1s linear;
  transition: opacity 0.1s linear;
}

.posts-description {
  background-color: #f8f8f8;
  -webkit-transition: background-color 0.1s linear;
  -o-transition: background-color 0.1s linear;
  transition: background-color 0.1s linear;
}

.posts-posttitle {
  font-family: "Raleway", sans-serif;
  font-weight: 500;
  color: #b0b0b0;
  font-size: 20px;
  padding-top: 20px;
  padding-left: 30px;
  margin-bottom: 20px;
  -webkit-transition: color 0.1s linear;
  -o-transition: color 0.1s linear;
  transition: color 0.1s linear;
}

.posts-posttext {
  font-size: 14px;
  line-height: 1.6;
  padding-left: 30px;
  margin-bottom: 30px;
  -webkit-transition: color 0.1s linear;
  -o-transition: color 0.1s linear;
  transition: color 0.1s linear;
}

.posts-read_more {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding-left: 30px;
  font-size: 14px;
  padding-bottom: 30px;
}

.posts-read_more-link {
  color: #a48d72;
  text-decoration: none;
}

.posts-read_more-link:hover {
  text-decoration: underline;
}

.posts-arrow {
  display: block;
  width: 0;
  height: 0;
  margin: 0 0 0 5px;
  border-left: 5px solid transparent;
  border-right: 5px solid transparent;
  border-top: 10px solid #a48d72;
  -webkit-transform: rotate(-90deg);
      -ms-transform: rotate(-90deg);
          transform: rotate(-90deg);
}

.posts_slide-control {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-top: 20px;
}

.posts-slider_buttons {
  text-align: center;
  margin-top: 40px;
}

.posts-slider-btn {
  outline: none;
  border: none;
  background-color: transparent;
  cursor: pointer;
}

.posts-slider_arrow {
  width: 50px;
  height: 50px;
  fill: #d4d4d4;
  -webkit-transition: fill 0.1s linear;
  -o-transition: fill 0.1s linear;
  transition: fill 0.1s linear;
}

.posts-slider_arrow:hover {
  fill: #a48d72;
}

.right-arrow {
  -webkit-transform: rotate(180deg);
      -ms-transform: rotate(180deg);
          transform: rotate(180deg);
}

/* Partners */

.no-webp .partners{
  background: #3e3432 url(../../image/waxom/partners/bg.jpg) no-repeat center; }

.partners {
  background-size: cover;
}

.partners-inner {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.partners-logo {
  width: 25%;
  margin: 100px 0;
}

/* Footer */

.footer {
  background-color: #111111;
}

.footer-inner {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.footer-left {
  margin: 40px 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.footer-copyright {
  color: #4c4c4c;
  border-right: 2px solid #252525;
  padding-right: 10px;
  margin-right: 10px;
}

.footer-copyright span {
  color: #959595;
}

.footer-link {
  border-right: 2px solid #252525;
  padding-right: 10px;
  margin-right: 10px;
  text-decoration: none;
  color: #4c4c4c;
  -webkit-transition: color 0.1s linear;
  -o-transition: color 0.1s linear;
  transition: color 0.1s linear;
}

.footer-link:hover {
  color: #af9d87;
}

.footer-link:last-child {
  border-right: none;
  padding-right: 0;
  margin-right: 0;
}

.footer-right {
  margin: 40px 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.footer_author {
  border-right: 2px solid #252525;
  color: #4c4c4c;
  padding-right: 10px;
  margin-right: 10px;
}

.footer_author:last-child {
  border-right: none;
  padding-right: 0;
  margin-right: 0;
}

.footer_author span {
  color: #959595;
}

.footer_author .author {
  color: #959595;
  text-decoration: none;
  transition: color 0.2s linear;
  cursor: pointer;
  -webkit-transition: color 0.2s linear;
  -moz-transition: color 0.2s linear;
  -ms-transition: color 0.2s linear;
  -o-transition: color 0.2s linear;
}

.footer_author .author:hover {
  color: #af9d87;
}

/* Scroll to top */

.scroll-up {
  position: fixed;
  right: 50px;
  bottom: 50px;
  z-index: 1000;
  width: 50px;
  height: 50px;
  color: #808080;
  cursor: pointer;
  visibility: hidden;
  border-radius: 50px;
  -webkit-box-shadow: inset 0 0 0 4px #575252;
          box-shadow: inset 0 0 0 4px #575252;
  opacity: 0;
  -webkit-transition: 0.2s;
  -o-transition: 0.2s;
  transition: 0.2s;
  -webkit-transform: translateY(25px);
      -ms-transform: translateY(25px);
          transform: translateY(25px);
}

.scroll-up::before {
  position: absolute;
  top: 0;
  left: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 100%;
  height: 100%;
  font-size: 30px;
  content: "↑";
}

.scroll-up:hover {
  color: orange;
}

.scroll-up--active {
  visibility: visible;
  opacity: 1;
  -webkit-transform: translateY(0);
      -ms-transform: translateY(0);
          transform: translateY(0);
}

.scroll-up_svg-path {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  fill: none;
  stroke: orange;
  stroke-width: 4px;
  -webkit-transition: 0.2s;
  -o-transition: 0.2s;
  transition: 0.2s;
}

/* modals */

.fade-block {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.7);
  z-index: 1000;
}

.modal-window {
  position: absolute;
  left: 50%;
  top: 50%;
  -webkit-transform: translate(-50%, -50%);
      -ms-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  width: 50%;
  max-height: 100%;
  overflow-y: auto;
}

.card {
  display: -ms-flexbox;
  display: -webkit-box;
  display: flex;
  -ms-flex-direction: column;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
          flex-direction: column;
  text-align: center;
  word-wrap: break-word;
  background-color: #fff;
  background-clip: border-box;
  border: 1px solid rgba(0, 0, 0, 0.125);
  border-radius: 0.25rem;
  padding: 20px 20px;
}

.card-header {
  border-bottom: 1px solid #998675;
  padding-bottom: 10px;
  margin-bottom: 20px;
}

.card-text {
  font-size: 1.3rem;
  font-weight: 600;
  margin-bottom: 20px;
  line-height: 1.4;
}

.card-body button {
  padding: 0.8rem 2.5rem;
}

.form-text {
  text-transform: uppercase;
  color: #000;
  font-size: 1.2rem;
  border-bottom: 1px solid #998675;
  margin-bottom: 5px;
}

form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.form_input {
  border: 1px solid #654f49;
  outline: none;
  border-radius: 3px;
  width: 250px;
  height: 30px;
  font-size: 1.1rem;
  margin-bottom: 10px;
  padding: 5px;
}

.submit-btn {
  width: 200px;
  height: 30px;
  padding: 0px 20px;
}

.modal_social-icons {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.social-icon {
  fill: #A98675;
  width: 35px;
  height: 35px;
  margin: 20px 10px;
  -webkit-transition: fill 0.2s linear;
  -o-transition: fill 0.2s linear;
  transition: fill 0.2s linear;
}

.social-icon:hover {
  fill: #D98675;
}

@media (max-width: 1230px) {
  /* services */

  .services_item {
    width: 50%;
  }

  /* works */

  .works-photo {
    margin: 0 auto;
  }

  .works-itemtext {
    margin: 0 auto;
  }

  .works-item {
    width: 100%;
  }

  /* achievements */

  .achievements-item {
    width: 50%;
    margin: 10px auto;
  }

  .achievements-item:first-child,
  .achievements-item:nth-child(2) {
    margin-top: 65px;
  }

  .achievements-item:last-child {
    margin-bottom: 65px;
  }

  /* partners */

  .partners-logo {
    width: 100%;
    margin: 30px;
  }

  .partners-inner {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }

  /* footer */

  .footer-inner {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }

  .footer-left {
    margin-top: 40px;
    margin-bottom: 20px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }

  .footer-right {
    margin-bottom: 40px;
    margin-top: 20px;
  }

  .footer-copyright {
    color: #4c4c4c;
    border-right: 2px solid #252525;
    padding-right: 10px;
    margin-right: 10px;
  }
}

@media (max-width: 915px) {
  /* header */

  .nav,
  .header_icons {
    display: none;
  }

  .openMenu {
    display: block;
  }

  .menu-burger span,
  .menu-burger::before,
  .menu-burger::after {
    left: 0;
    position: absolute;
    height: 10%;
    width: 100%;
    -webkit-transition: all 0.3s ease 0s;
    -o-transition: all 0.3s ease 0s;
    transition: all 0.3s ease 0s;
    background-color: #fff;
  }

  .menu-burger::before,
  .menu-burger::after {
    content: "";
  }

  .menu-burger::before {
    top: 0;
  }

  .menu-burger::after {
    bottom: 0;
  }

  .menu-burger span {
    top: 50%;
    -webkit-transform: scale(1) translate(0px, -50%);
        -ms-transform: scale(1) translate(0px, -50%);
            transform: scale(1) translate(0px, -50%);
  }

  /* mobile */

  .mobile-content {
    background-color: rgba(77, 51, 39, 0.8);
    border: 1px solid #4d3327;
    border-radius: 3px;
    padding: 20px 20px;
    color: #fff;
  }

  .mobile-title {
    color: #fff;
  }
}

@media (max-width: 735px) {
  /* purchase */

  .purchase_inner {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }

  .purchase_text_elements {
    margin-bottom: 20px;
    text-align: center;
  }

  /* modal */

  .modal-window {
    width: 80%;
  }
}

@media (max-width: 650px) {
  /* presentation */

  .presentation_text {
    padding: 0;
  }

  /* works */

  .works-text {
    padding: 0;
  }

  /* video */

  .video-text {
    padding: 0;
  }

  /* mobile */

  .mobile-photo {
    display: none;
  }

  .mobile-content {
    width: 100%;
    margin-bottom: 80px;
  }

  /* posts */

  .posts-text {
    padding: 0;
  }

  /* footer */

  .footer-left {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }

  .footer-copyright {
    border-right: none;
    padding-right: 0px;
    margin-right: 0px;
    margin-bottom: 10px;
  }

  .footer-link {
    border-right: none;
    padding-right: 0px;
    margin-right: 0px;
    margin-bottom: 10px;
  }

  .footer-right {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }

  .footer_author {
    border-right: none;
    padding-right: 0;
    margin-right: 0;
    margin-bottom: 10px;
  }
}

@media (max-width: 430px) {
  /* services */

  .services_item {
    width: 100%;
  }

  /* works */

  .works-photo {
    width: 300px;
    height: auto;
  }

  .works-content {
    display: none;
    visibility: hidden;
  }

  .works-itemtext {
    width: 300px;
  }

  /* mobile */

  .mobile-list {
    margin-left: 0px;
  }

  /* achievements */

  .achievements-item {
    width: 100%;
  }

  .achievements-item {
    margin-top: 20px;
  }

  .achievements-item:nth-child(2) {
    margin-top: 10px;
  }

  .achievements-item:first-child {
    margin-top: 30px;
  }

  .achievements-item:last-child {
    margin-bottom: 30px;
  }

  /* partners */

  .partners-logo img {
    width: 150px;
    height: auto;
  }
}

@media (max-width: 320px) {
  /* works */

  .works-photo {
    width: 260px;
    height: auto;
  }

  .works-itemtext {
    width: 260px;
  }
}

@media screen and (max-height: 450px) {
  /* header */

  .overlay a {
    font-size: 20px;
  }

  .overlay .closebtn {
    font-size: 40px;
    top: 15px;
    right: 35px;
  }
}

.webp .header{ background: url(../../image/waxom/header/intro_bg.webp) center no-repeat; }

.webp .partners{ background: #3e3432 url(../../image/waxom/partners/bg.webp) no-repeat center; }